body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  color: white;
  font-size: 1.3rem;
  width: 100%;
  background-color: #282c34;
  padding-top: 40px;
}
a {
  text-decoration: none;
  color: white
}
.modeGrid{
  display: grid;
  grid-template-columns: repeat(auto-fill,230px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
}
@media (max-width: 560px) {
  .modeGrid {
    grid-template-columns: 100%;
  }
}
